{:deps {org.clojure/clojure {:mvn/version "1.12.0"}
        com.cleancoders.c3kit/apron {:mvn/version "2.5.0"}
        org.clojure/tools.cli {:mvn/version "1.1.230"}}
 :paths ["src" "spec" "target/gherclj/generated"]
 :aliases
 {:spec {:extra-deps {speclj/speclj {:mvn/version "3.12.1"}}
         :main-opts ["-m" "speclj.main" "-c" "spec/gherclj" "-c" "target/gherclj/generated" "-s" "src"]}
  :features {:extra-deps {speclj/speclj {:mvn/version "3.12.1"}}
             :main-opts ["-m" "gherclj.features.runner"]}}}
